/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Container for consistent horizontal spacing */
.container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 2rem; /* Adjust this value as needed for horizontal spacing */
  max-width: 1200px; /* Set a max-width for the content */
  /* padding-top: 80px; */
}

/* Ensure the body takes up full height */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
