<div class="wishlist-container">
  <div class="product-grid">
    <div *ngIf="wishlist.length > 0; else noItems">
      <mat-card *ngFor="let item of wishlist" class="product-card">
        <mat-card-header>
          <mat-card-title>{{ item.productName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Price: {{ item.productPrice | currency: 'EUR' }}</p>
          <p>Id: {{ item.productId }}</p>

          <app-wishlist-item-quantity [quantity]="item.quantity"
            (quantityChange)="updateQuantity(item.productId, $event)">
          </app-wishlist-item-quantity>

        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="item.id" mat-button color="warn" (click)="removeFromWishlist(item.productId)">
            Remove from Wishlist
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <ng-template #noItems>
      <p>No items in the wishlist.</p>
    </ng-template>
  </div>
</div>